<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>result</title>
<link rel="stylesheet" href="static/css/bootstrap.min.css" />
<link rel="stylesheet" href="static/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="static/css/unicorn.main.css" />
</head>
<body>
<div class='modal-backdrop'></div>
<!-- actionInfo start -->
	<div id="actionInfo" class="modal">		
		<div class="modal-body">
			<p>处理失败！请检查~</p>
		</div>
		<div class="modal-footer">
		
			<a href="{{message}}" class="btn" data-dismiss="modal">关闭</a>
		</div>
	</div>
<!-- end -->
</body>
</html>
