{% extends "form.html" %}

{% block title %}修改{% endblock %}

{% block title1 %}服务器端口管理{% endblock %}

{% block form %}
				<form  action="modify.do" method="post" class="form-horizontal"  id="formID">

					{% for message in table_list %}

					<div class="control-group">
								<label class="control-label">监控协议</label>
								<div class="controls">
									<select name="parameter_name">
									{% if message.parameter_name == 'cmpp20.gateParameter' %}
	                                <option value="cmpp20.gateParameter" selected>cmpp20.gateParameter</option>
	                                {% else %}
	                                <option value="cmpp20.gateParameter">cmpp20.gateParameter</option>
	                                {% endif %}
									{% if message.parameter_name == 'sgip12.gateParameter' %}
	                                <option value="sgip12.gateParameter" selected>sgip12.gateParameter</option> 
	                                {% else %}
	                                <option value="sgip12.gateParameter">sgip12.gateParameter</option> 
	                                {% endif %}
									{% if message.parameter_name == 'smgp30.gateParameter' %}
	                                <option value="smgp30.gateParameter" selected>smgp30.gateParameter</option> 
	                                {% else %}
	                                <option value="smgp30.gateParameter">smgp30.gateParameter</option> 
	                                {% endif %}
	                                </select> 
								</div>
					</div>

					<div class="control-group">

								<label class="control-label">IP:端口</label>

								<div class="controls">

								<input  id="parameter_value" name="parameter_value" class="validate[required]"  value = "{{message.parameter_value}}"/>

								</div>

					</div>

					<div class="control-group">

								<label class="control-label">状态</label>

								<div class="controls radio-group">

									{% if message.status == 0 %}

									<label class="inline"><input id="open" type="radio" name="status" value='0' class="validate[required]" checked="checked"/> 开启</label>

									<label class="inline"><input id="close" type="radio" name="status" value='1' class="validate[required]"/> 关闭</label>

									{% else %}

									<label class="inline"><input id="open" type="radio" name="status" value='0' class="validate[required]"/> 开启</label>

									<label class="inline"><input id="close" type="radio" name="status" value='1' class="validate[required]" checked="checked"/> 关闭</label>

									{% endif %}

								</div>

					</div>

					<input type="hidden" name="id" value="{{message.id}}" />

					{% endfor %}

    				<div class="form-actions">

								<button type="submit" class="btn btn-primary" >保存</button>

					</div>

					</form>	
{%endblock%}