{% extends "form.html" %}
{% block title %}添加{% endblock %}
{% block title1 %}服务器负责人{% endblock %}
{% block form %}
				<form action="insert.do" method="post" class="form-horizontal" id="formID"/>
							<div class="control-group">
								<label class="control-label">负责人组</label>
								<div class="controls">
									<select id="groupName" name="groupName" class="validate[required]"> 
									{% for group in groupNames %}
										<option value="{{group.groupSn}}"> {{group.groupName}}</option>
									{% endfor %}
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">负责服务器</label>
								<div class="controls checkbox-group group-name all-check-group">
									<label class="inline bold"><input type="checkbox" id="ServerName" name="all_check"/> 全选</label>
									{% for server in serverNames %}
									<label class="inline"><input type="checkbox" id="{{server.ServerName}}" name="ServerName" value="{{server.ServerName}}"/> {{server.serverName}}</label>
									{% endfor %}
								</div>
							</div>
							<div class="form-actions">
								<button type="submit" class="btn btn-primary">保存</button>
							</div>
					</form>
{% endblock %}