					<!-- pages start -->
						<div class="fg-toolbar ui-toolbar ui-widget-header">		
							<div class="dataTables_paginate">
							{% ifnotequal curPage 1 %}
								<a class="first ui-button" href="?curPage=1&allPage={{allPage}}&allPostCounts={{allPostCounts}}&search={{search}}&value={{value}}&startTime={{startTime}}&endTime={{endTime}}&monitor_type={{monitor_type}}">首页</a>
								<a class="previous ui-button" href="?curPage={{curPage}}&allPage={{allPage}}&pageType=pageUp&allPostCounts={{allPostCounts}}&search={{search}}&value={{value}}&startTime={{startTime}}&endTime={{endTime}}&monitor_type={{monitor_type}}">上一页</a>
							{% endifnotequal %}
								<span>
								{% for p in pageList %} 
									{% ifequal p curPage %} 
									<a class="ui-button ui-state-disabled">{{p}}</a>
									{% else %}
									<a class="ui-button" href="?curPage={{p}}&allPage={{allPage}}&allPostCounts={{allPostCounts}}&search={{search}}&value={{value}}&startTime={{startTime}}&endTime={{endTime}}&monitor_type={{monitor_type}}" title="第{{p}}页">{{p}}</a>
									{% endifequal %}
								{% endfor %}
								</span>
								{% ifnotequal curPage allPage %} 
								<a class="next ui-button" href="?curPage={{curPage}}&allPage={{allPage}}&pageType=pageDown&allPostCounts={{allPostCounts}}&search={{search}}&value={{value}}&startTime={{startTime}}&endTime={{endTime}}&monitor_type={{monitor_type}}">下一页</a>
								<a class="last ui-button" href="?curPage={{allPage}}&allPage={{allPage}}&allPostCounts={{allPostCounts}}&search={{search}}&value={{value}}&startTime={{startTime}}&endTime={{endTime}}&monitor_type={{monitor_type}}">末页</a>
								{% endifnotequal %}
								<a class="last ui-button" >[第{{ curPage }}/{{ allPage }}页，总记录数：{{allPostCounts}}]</a> 
							</div>
						</div>
					<!-- end -->