{% extends "table.html" %}
{% block title %}SQL语句管理{% endblock %}
{% block title1 %}SQL监控语句{% endblock %}
{% block form %}
	<form action="select.do" method="post" class="form-inline" />
					<select name="search">
						<option value="monitor_command">SQL语句</option>
						<option value="warning_content">预警内容</option>
						<option value="comment">描述</option>
					</select>
					<input type="text" name="value" placeholder="查询关键词"/>
					<input type="submit" class="btn"  value="查询" />
					<a class="btn" href="insert.do" >添加SQL语句</a>
 	</form>	
				
{% endblock %}

{% block thread %}
										<tr>
											<th>ID</th>
											<th>SQL语句</th>
											<th>预警内容</th>
											<th>描述</th>
											<th>预警方式</th>
											<th nowrap="nowrap">操作</th>
										</tr>
{% endblock %}

{% block tbody %}
										{% for message in table_list %}
										<tr>
											<td>{{message.id}}</td>
											<td class="text-left"><code>{{message.monitor_command}}</code></td>
											<td>{{message.warning_content}}</td>
											<td nowrap="nowrap">{{message.comment}}</td>
											<td>{{message.alarm_type}}</td>
											<td><a href="update?id={{message.id}}&monitor_type=0">修改</a></td>
										</tr>
										{% endfor %}

{% endblock %}	 