{% extends "form.html" %}
{% block title %}SQL语句配置服务器{% endblock %}
{% block title1 %}SQL语句配置服务器{% endblock %}
{% block form %}
				<form action="ServerConfig.do" method="post" class="form-horizontal" id="formID"/>
							<div class="control-group">
								<label class="control-label">SQL语句</label>
								<div class="controls">
									<span class="help-block"><code>{{sql_command}}</code></span>
								</div>
							</div>
							{% if config %}
								{% for conf in config %}
								<div class="control-group">
									<label class="control-label">预警阀值</label>
									<div class="controls">
										<input id="value" name="value" class="validate[required]" value="{{conf.value}}" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">比较符号</label>
									<div class="controls">
										<input id="mark" name="mark" class="validate[required]" value="{{conf.mark}}"/>（与阀值比较：如:> 、>= 等）
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">监控频率</label>
									<div class="controls">
										<input id="frequency" name="frequency" class="validate[required]" value="{{conf.frequency}}" />（单位：秒）
									</div>
								</div>
								{% endfor %}
							{% else %}
								<div class="control-group">
									<label class="control-label">预警阀值</label>
									<div class="controls">
										<input id="value" name="value" class="validate[required]"  />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">比较符号</label>
									<div class="controls">
										<input id="mark" name="mark" class="validate[required]"/>（与阀值比较：如:> 、>= 等）
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">监控频率</label>
									<div class="controls">
										<input id="frequency" name="frequency" class="validate[required]"/>（单位：秒）
									</div>
								</div>
							{% endif %}
							<div class="control-group">
								<label class="control-label" >监控状态</label>
								<div class="controls radio-group">
									<label class="inline"><input id="open" type="radio" name="status" value='0' class="validate[required]" checked/> 开启</label>
									<label class="inline"><input id="close" type="radio" name="status" value='1' class="validate[required]"/> 关闭</label>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">服务器</label>
								<div class="controls checkbox-group server-group">
									<dl class="dl-horizontal">
										{% for managers in serverManagers%}
											{% for group in managers.groupNames %}
												<dt><label><input type="checkbox" id="{{group.groupSn}}" name="groupName" value="{{group.groupSn}}" />{{group.groupName}}</label></dt>
													<dd class="all-check-group">
														<label class="inline bold"><input type="checkbox" id="serverName_{{group.groupSn}}" name="all_check"/> 全选</label>
														{% for server in managers.serverNames %}
														<label class="inline"><input type="checkbox" id="{{server.serverSn}}" name="serverName_{{group.groupSn}}" value="{{server.serverSn}}"/>{{server.serverName}}</label>
														{% endfor %}
													</dd>
											{% endfor %}
										 {% endfor %}
									</dl>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">追加通知组</label>
								<div class="controls checkbox-group group-name all-check-group">
									<label class="inline bold"><input type="checkbox" id="GroupName" name="all_check"/> 全选</label>
									{% for group in GroupNames %}
											{% if group.groupSnCmp in message.group_sn%}
												<label class="inline"><input type="checkbox" id="{{group.groupSn}}" name="GroupName" value="{{group.groupSn}}" checked="checked"/> {{group.groupName}}</label>
											{% else %}
												<label class="inline"><input type="checkbox" id="{{group.groupSn}}" name="GroupName" value="{{group.groupSn}}"/> {{group.groupName}}</label>
											{% endif %}	
									{% endfor %}
								</div>
							</div>
							<input type="hidden" name="monitor_type" value="0" />
							<input type="hidden" name="sn" value="{{sn}}" />
							<div class="form-actions">
								<button type="submit" class="btn btn-primary">保存</button>
							</div>
					</form>
{% endblock %}