{% extends "table.html" %}
{% block title %}服务器SQL监控管理{% endblock %}
{% block title1 %}服务器SQL监控{% endblock %}
{% block form %}
	<form action="select.do" method="post" class="form-inline" />
					<select name="search">
						<option value="ip">服务器IP</option>
						<option value="monitor_command">SQL语句</option>
					</select>
					<input type="text" name="value" placeholder="查询关键词"/>
					<input type="hidden" name="monitor_type" value="0" />
					<input type="submit" class="btn"  value="查询" />
 	</form>	
				
{% endblock %}

{% block thread %}
										<tr>
											<th>序号</th>
											<th>服务器IP</th>
											<th>SQL语句</th>
											<th nowrap="nowrap">阀值</th>
											<th nowrap="nowrap">符号</th>
											<th>频率</th>
											<th>最新时间</th>
											<th nowrap="nowrap">状态</th>
											<th nowrap="nowrap">通知组</th>
											<th>操作</th>
										</tr>
{% endblock %}

{% block tbody %}
										{% for message in table_list %}
										<tr>
											<td>{{message.sn}}</td>
											<td class="text-left"><code>{{message.ip}}</code></td>
											<td class="text-left"   style="word-break:break-all; word-wrap: break-word;width:40%">{{message.monitor_command}}</td>
											<td>{{message.value}}</td>
											<td>{{message.mark}}</td>
											<td>{{message.frequency}}</td>
											<td>{{message.last_time|date:"Y-m-d H:i:s"}}</td>
											{% if message.status == 0 %}
											<td>开启</td>
											{% else %}
											<td style="color:red;">关闭</td>
											{% endif %}
											<td class="text-left"   style="word-break:break-all; word-wrap: break-word;width:5%">{{message.group_sn}}</td>
											<td><a href="update?sn={{message.sn}}&monitor_type={{monitor_type}}">修改</a>&nbsp;&nbsp;<a href="delete?sn={{message.sn}}&monitor_type={{monitor_type}}">删除</a></td>
										</tr>
										{% endfor %}

{% endblock %}	 