{% extends "table2.html" %}
{% block title %}手机接收查询(recvsmstable){% endblock %}
{% block href %}

                            <li><a href="select_cm.do">移动</a></li>
                            <li><a href="select_un.do">联通</a></li>
                            <li class="active"><a href="select_cdma.do">电信1</a></li>
                            <li><a href="select_cdma1.do">电信2</a></li>
{% endblock %}
{% block form %}
	<form action="select_cdma.do" method="post" class="form-inline" />
					<select name="search">
										<option value="Remark">手机号码</option>
										<option value="SendNumber">接入号</option>
					</select>
					 起止时间：<input type="text" data-date-format="yyyy-mm-dd" value="" class="datepicker" name="startTime"/> - <input type="text" data-date-format="yyyy-mm-dd" value="" class="datepicker"  name ="endTime"/>
					<input type="text" name="value" placeholder="查询关键词"/>
					<input type="submit" class="btn"  value="查询" />
 	</form>	
				
{% endblock %}

							
{% block thread %}
										<tr>
											<th>序号</th>
											<th>接入号</th>
											<th>手机号码</th>
											<th>接收内容</th>
											<th>接收时间</th>
										</tr>
{% endblock %}

{% block tbody %}
										{% for send in table_list %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{send.SendNumber}}</td>
											<td>{{send.Remark}}</td>
											<td>{{send.SmsContent}}</td>
											<td>{{send.SendTime}}</td>
										</tr>
										{% endfor %}
{% endblock %}
