{% extends "frame.html" %}
{% block title %}号码管理{% endblock %}
{% block mobile %}<li class="active">{%endblock%}
{% block command %}<li  class="submenu">{%endblock%}
{% block content %}
					<form method="post" action="insert">
					<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>描述</th>
											<th>号码</th>
											<th>类型</th>
										</tr>
									</thead>
									<tbody>
											<tr>
											<td><textarea name="type_desc"></textarea></td>
											<td><textarea name="mobiles"></textarea></td>
											<td><input type="text" style="width:50px"  name="type"/></td>
											</tr>
											<tr> <input type="submit" value="提交" /></tr>
									</tbody>
				  	 </table>	
				  </form>		
{% endblock %}		
