{% extends "form.html" %}
{% block title %}添加{% endblock %}
{% block title1 %}通知用户组信息{% endblock %}
{% block form %}
					<form  action="insert.do" method="post" class="form-horizontal"  id="formID">
					
					<div class="control-group">
								<label class="control-label">用户组名称</label>
								<div class="controls">
									<input  id="group_name" name="group_name" class="validate[required]" />
								</div>
					</div>
					<div class="control-group">
								<label class="control-label">用户</label>
								<div class="controls checkbox-group group-name all-check-group">
									<label class="inline bold"><input type="checkbox" id="UserName" name="all_check"/> 全选</label>
									{% for user in userNames %}
									<label class="inline"><input type="checkbox" id="{{user.userSn}}" name="UserName" value="{{user.userSn}}" class="validate[minCheckbox[1]]"/> {{user.userName}}</label>
									{% endfor %}
								</div>
					</div>
					<div class="control-group">
								<label class="control-label">状态</label>
								<div class="controls radio-group">
									<label class="inline"><input id="open" type="radio" name="status" value='0' class="validate[required]"/> 开启</label>
									<label class="inline"><input id="close" type="radio" name="status" value='1' class="validate[required]"/> 关闭</label>
								</div>
					</div>
    				<div class="form-actions">
								<button type="submit" class="btn btn-primary" >保存</button>
					</div>
					</form>	
				  	
{% endblock %}