{% extends "table2.html" %}
{% block title %}电信手机号码查询{% endblock %}
{% block href %}

                            <li><a href="select_cm.do">移动</a></li>
                            <li><a href="select_un.do">联通</a></li>
                            <li><a href="select_cdma.do">电信1</a></li>
                            <li class="active"><a href="select_cdma1.do">电信2</a></li>
{% endblock %}
{% block form %}
	<form action="select_cdma1.do" method="post" class="form-inline" />
					<select name="search">
										<option value="province">省份</option>
										<option value="mobile">手机号码</option>
										<option value="commport">COM口</option>
									</select>
					<input type="text" name="value" placeholder="查询关键词"/>
					<input type="submit" class="btn"  value="查询" />
 	</form>	
				
{% endblock %}

							
{% block thread %}
										<tr>
											<th>序号</th>
											<th>省份</th>
											<th>手机号码</th>
											<th>COM口</th>
										</tr>
{% endblock %}

{% block tbody %}
										{% for user in table_list %}
										<tr>
											<td>{{user.id}}</td>
											<td>{{user.province}}</td>
											<td>{{user.mobile}}</td>
											<td>{{user.commport}}</td>
										</tr>
										{% endfor %}
{% endblock %}
