{% extends "form.html" %}
{% block title %}修改{% endblock %}
{% block title1 %}预警参数信息{% endblock %}
{% block form %}
					<form  action="modify.do" method="post" class="form-horizontal"  id="formID">
					{% for message in table_list %}
					<div class="control-group">
								<label class="control-label">参数名</label>
								<div class="controls">
									<input  id="key" name="key" value="{{message.key}}" readonly/>
								</div>
					</div>
					<div class="control-group">
								<label class="control-label">参数值</label>
								<div class="controls">
								<textarea  id="value" name="value" class="validate[required]" >{{message.value}}</textarea>
								</div>
					</div>
					<input type="hidden" name="id" value="{{message.id}}" />
					{% endfor %}
    				<div class="form-actions">
								<button type="submit" class="btn btn-primary" >保存</button>
					</div>
					</form>	
				  	
{% endblock %}